
		<div class="footer">
			<div class="info">
				<img src="__PUBLIC__/home/images/logo.png" alt="" class="logo">
				<a href="{:U('Index/termsofuse')}">{:L('terns_of_use')}</a>
				<a href="{:U('Index/privacypolicy')}">{:L('privacy_policy')}</a>
				
			</div>
			<div class="copy">Copyright&copy;mcop.io | All rights Reserved</div>

		</div>
		
	</div>
	<!-- 首页 end -->

	<script src='__PUBLIC__/home/js/chart.min.js'></script>
	<script src='__PUBLIC__/home/js/app.js'></script>
	<script type="text/javascript">
		layui.use(['element'], function(){
        	var element = layui.element;});
	</script>
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5a1d4081198bd56b8c03dc52/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
</body>
</html>