<!-- 时间轴 -->

<link rel="stylesheet" href="__PUBLIC__/home/css/jquery.eeyellow.Timeline.css">
<link rel="stylesheet" href="__PUBLIC__/home/css/timeline.css">
<script src='__PUBLIC__/home/js/jquery.eeyellow.Timeline.js'></script>

<div class="time-line-wrap">
        <h3>ROAD MAP</h3>
        <div class="events-wrap">
            <ul class="events">
                <li>
                    <div class="circle"></div>
                    <div class="event-info">
                        <div class="box">
                            <div class="odd">
                                <div class="time">Q1 2016</div>
                                <div class="info">Emergence of idea,analysls of themarket and competitors</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="circle"></div>
                    <div class="event-info">
                        <div class="box">
                            <div class="even">
                                <div class="time">Q2 2016</div>
                                <div class="info">Emergence of idea,analysls of themarket and competitors</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="circle"></div>
                    <div class="event-info">
                        <div class="box">
                            <div class="odd">
                                <div class="time">Q3 2016</div>
                                <div class="info">Emergence of idea,analysls of themarket and competitors</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="circle"></div>
                    <div class="event-info">
                        <div class="box">
                            <div class="even">
                                <div class="time">Q4 2016</div>
                                <div class="info">Emergence of idea,analysls of themarket and competitors</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="circle"></div>
                    <div class="event-info">
                        <div class="box">
                            <div class="odd">
                                <div class="time">Q5 2016</div>
                                <div class="info">Emergence of idea,analysls of themarket and competitors</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>