<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item layui-this">
        <a href="{:U('User/index')}">
        <i class="layui-icon ">&#xe68e;</i>
        首页
        </a>
    </li>
    <li class="layui-nav-item ">
        <a href="{:U('User/setting')}">
        <i class="layui-icon">&#xe612;</i>
        设置
        </a>
    </li>
        <li class="layui-nav-item">
        <a href="">
        <i class="layui-icon">&#xe735;</i>
        推广员
        </a>
    </li>
    <li class="layui-nav-item">
        <a href="{:U('User/saleRecord')}">
        <i class="layui-icon">&#xe60e;</i>
        购买记录
        </a>
    </li>
    <li class="layui-nav-item">
        <a href="">
        <i class="layui-icon">&#xe659;</i>
        赏金计划
        </a>
    </li>
    <li class="layui-nav-item">
        <a href="">
        <i class="layui-icon"> &#xe6b2;</i>
        FAQ
        </a>
    </li>
</ul>

<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
<i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>