
<ul class="layui-nav layui-nav-tree layui-inline layui-nav-side" lay-filter="user">
    <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
    <li class="layui-nav-item " id="Userindex">

        <a href="{:U('User/index')}">
        <i class="layui-icon ">&#xe68e;</i>
        {:L('account')}
        </a>
    </li>
    <li class="layui-nav-item " id="Usersetting">
        <a href="{:U('User/setting')}">
        <i class="layui-icon">&#xe612;</i>
        {:L('setting')}
        </a>
    </li>
       
    <li class="layui-nav-item" id="UsersaleRecord">
        <a href="{:U('User/saleRecord')}">
        <i class="layui-icon">&#xe60e;</i>
        {:L('record')}
        </a>
    </li>
    
</ul>

<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<script type="text/javascript">
    $(function(){
        
        $("#<?php echo CONTROLLER_NAME.ACTION_NAME; ?>").addClass('layui-this');
    })
</script>