<style type="text/css">
 .layui-form-pane .layui-form-label{width: 185px;}
</style>
<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>

   
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
      
        <li class="layui-this">{:L('reset_password')}</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
         
          <div class="layui-form layui-form-pane">
            <form method="post" action="{:U('Login/reset')}" id="reset">
              <div class="layui-form-item ">
                <label for="L_pass" class="layui-form-label ">{:L('password_new')}</label>
                <div class="layui-input-inline ">
                  <input  type="password" id="L_pass" name="pass"  lay-verify="required|password" autocomplete="off" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">{:L('password_confirm_new')}</label>
                <div class="layui-input-inline">
                  <input  type="password" id="L_pass" name="pass_confirm"  lay-verify="required|password_confirm" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
              <input type="hidden" name="token" value="{:I('get.token')}">
              <input type="hidden" name="user_id" value="{:I('get.user')}">
              </div>
              <div class="layui-form-item">
                <button class="layui-btn layui-col-md4 " alert="1" lay-filter="resetpassword" lay-submit>{:L('submit')}</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="__PUBLIC__/customer/doresetpassword.js"></script>