<div class="login-page content-style">
  <div class="login-wrap layui-form" id="LAY_ucm">
    <label for="basic-url" class="login-title">{:L('reset_password')}</label>
        <form method="post" action="{:U('Login/reset')}" id="reset">
          <div class="input-wrap layui-form-item">
            <label for="L_pass" class="layui-form-title ">{:L('password_new')}</label>
            <div class="layui-input-inline ">
              <input class="input-content" type="password" id="L_pass" name="pass"  lay-verify="required|password" autocomplete="off">
            </div>
          </div>

          <div class="input-wrap layui-form-item">
            <label for="L_pass" class="layui-form-title">{:L('password_confirm_new')}</label>
            <div class="layui-input-inline">
              <input class="input-content" type="password" id="L_pass" name="pass_confirm"  lay-verify="required|password_confirm" autocomplete="off">
            </div>
          </div>
          <div class="layui-form-item">
          <input type="hidden" name="token" value="{:I('get.token')}">
          <input type="hidden" name="user_id" value="{:I('get.user')}">
          </div>
          <div class="layui-form-item">
            <button class="layui-btn layui-col-md4 btn-wrap" alert="1" lay-filter="resetpassword" lay-submit>{:L('submit')}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/customer/doresetpassword.js"></script>
<link rel="stylesheet" href="__PUBLIC__/home/css/doResetPassword.css">

