<!-- Login -->
<div class="login-page">
  <div class="layui-container fly-marginTop" >
    <div class="fly-panel fly-panel-user">
      <div class="login-wrap layui-form" id="LAY_ucm">
        <label for="basic-url" class="login-title">{:('Join ICO')}</label>
        <form method="post" action="{:U('Login/doLogin')}">
          <div class="input-wrap layui-form-item">
            <label for="L_email"><span class="input-title">{:L('email')}</span></label>
            <input class="input-content" type="text" id="L_email" name="email" 
              required  lay-verify="required|emailVerify" autocomplete="off" 
              placeholder="Please enter your mailbox!" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-wrap layui-form-item">
            <label for="L_pass"><span class="input-title">{:L('password')}</span></label>
            <input class="input-content" type="password" id="L_pass" name="pass" 
              required  lay-verify="required|emailVerify" autocomplete="off"
              placeholder="Please enter your password!" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-check">
            <input type="checkbox">
            <span>I’m not a robot</span>
          </div>
          <div class="content-right"> <a href="{:U('Login/resetPassword')}">{:L('forget_password')}？</a></div>
          <div class="content-center"><button class="layui-btn" lay-filter="login" lay-submit>{:L('Login')}</button></div>
          <div class="content-center">Don’t have an account? You can <a href="{:U('Login/register')}">{:L('register')}</a> here</div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="layui-container fly-marginTop" >
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">{:L('login')}</li>
        <li><a href="{:U('Login/register')}">{:L('register')}</a></li>
      </ul>

      
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" action="{:U('Login/doLogin')}">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">{:L('email')}</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required  lay-verify="required|emailVerify" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">{:L('password')}</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
               
               
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="login" lay-submit>{:L('submit')}</button>
                <span style="padding-left:20px;">
                  <a href="{:U('Login/resetPassword')}">{:L('forget_password')}？</a>
                </span>
              </div>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<script type="text/javascript"  src="__PUBLIC__/customer/login.js"></script>
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/login.css" />
