<div class="layui-container fly-marginTop">
<div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
            <li><a href="{:U('Login/login')}">{:L('login')}</a></li>
            <li class="layui-this">{:L('register')}</li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
        <div class="layui-form layui-form-pane">
        <form method="post" action="{:U('Login/doRegister')}" id="registerForm">
            <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">{:L('email')}</label>
                <div class="layui-input-inline">
                    <input type="text" id="L_email" name="email"  lay-verify="emailVerify" autocomplete="off" class="layui-input">
                </div>

            </div>

            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">{:L('password')}</label>
            <div class="layui-input-inline">
                <input type="password" id="L_pass" name="pass" required lay-verify="required|password" autocomplete="off" class="layui-input">
            </div>

            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">{:L('password_confirm')}</label>
                <div class="layui-input-inline">
                <input type="password" id="L_repass" name="repass" required lay-verify="required|repass" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">

            </div>
            <div class="layui-form-item">
                <button class="layui-btn" lay-filter="register" lay-submit>{:L('submit')}</button>
            </div>

        </form>
        </div>
        </div>
        </div>
    </div>
</div>

</div>
<script type="text/javascript"  src="__PUBLIC__/customer/register.js"></script>