<div class="login-page content-style">
  <div class="login-wrap layui-form">
    <label for="basic-url" class="login-title">{:L('reset_password')}</label>
    <form method="post">
        <div class="input-wrap layui-form-item">
          <span class="input-title" for="L_email">{:L('email')}</span>
          <input class="input-content" type="text" id="L_email" name="email" required lay-verify="required" autocomplete="off">
        </div>
        <div class="layui-form-item">
        
        </div>
        <div class="layui-form-item content-center">
          <button class="layui-btn" alert="1" lay-filter="resetpassword" lay-submit>{:L('reset_password')}</button>
        </div>
        <div class="content-center"><a href="{:U('Login/login')}">{:L('return login')}</a></div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="__PUBLIC__/customer/resetpassword.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/global.css">
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/login.css" />
