<div class="layui-container fly-marginTop"></div>
  <div class="login-page">
    <div class="login-wrap layui-form">
      <label for="basic-url" class="login-title">{:L('reset_password')}</label>
      <form method="post">
          <div class="input-wrap layui-form-item">
            <span class="input-title" for="L_email">{:L('email')}</span>
            <input class="input-content" type="text" id="L_email" name="email" required lay-verify="required" autocomplete="off">
          </div>
          <div class="layui-form-item">
          
          </div>
          <div class="layui-form-item content-center">
            <button class="layui-btn" alert="1" lay-filter="resetpassword" lay-submit>{:L('reset_password')}</button>
          </div>
          <div class="content-center"><a href="{:U('Login/login')}">{:L('return login')}</a></div>
        </form>
      <!-- <form method="post">
      </form> -->
    </div>
  </div>
</div>

<!-- <div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="{:U('Login/login')}">{:L('login')}</a></li>
        <li class="layui-this">{:L('reset_password')}</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
         
          <div class="layui-form layui-form-pane">
            <form method="post">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label">{:L('email')}</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
              
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" alert="1" lay-filter="resetpassword" lay-submit>{:L('submit')}</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div> -->

<script type="text/javascript" src="__PUBLIC__/customer/resetpassword.js"></script>
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/login.css" />
