<!-- saleRecord 购买记录-->
<div class="layui-container fly-user-main  fly-padding fly-paddingTop content-style fly-paddingLeft">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>Token 购买记录</legend>
    </fieldset>
    <include file="Public:usernavbar" />
    <table class="table table-striped">
        <tr>
            <td>Date</td>
            <td>Description</td>
            <td>status</td>
            <td>eth</td>
            <td>pcc</td>
        </tr>
        <tr>
            <td>2017.12.21 15:41:22</td>
            <td>bc</td>
            <td>v23</td>
            <td>1200</td>
            <td>1200</td>
        </tr>
    </table>
</div>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/global.css">
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-style.css" />
<link rel="stylesheet" href="__PUBLIC__/home/css/saleRecord.css">
    