
			<div class="banner">
				<img src="__PUBLIC__/home/images/banner.jpg" alt="">
			</div>
			<div class="mask"></div>
			<div class="tab">
				<div class="tab-con">
					<ul>
						<li class='active'>
							<h3>Medical Contract Operation Platform</h3>
							<p>Inspiring through peer to peer</p>
						</li>
						<li>
							<h3>Medical Contract Operation Platform</h3>
							<p>Inspiring through peer to peer Resource</p>
						</li>
						<li>
							<h3>Medical Contract Operation Platform</h3>
							<p>Inspiring through peer to peer Tokens</p>
						</li>
					</ul>
				</div>
				<!-- tab按钮 -->
				<div class="tab-menu">
					<div class="col-lg-4 col-xs-4">
						<p><a class="btn btn-lg btn-success" href="{:U('Index/whitepaper')}" role="button">White Paper</a></p>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4 col-xs-4">
						<p><a class="btn btn-lg btn-success" href="javascript:;" role="button">Resource</a></p>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4 col-xs-4">
						<p><a class="btn btn-lg btn-success" href="{:U('Index/tokensale')}" role="button">Tokens</a></p>
					</div><!-- /.col-lg-4 -->
				</div>
			</div>
		</div>
		
		<div class="container marketing">
			<!-- MEDICALPRO SERVICES -->
			<div class="stage stage-get-well-soon">
				<div class="hd">
					<p>GET WELL SOON</p>
					<h3>MEDICALPRO SERVICES</h3>
				</div>
				<!-- Three columns of text below the carousel -->
				<div class="row">
					<div class="col-lg-4">
						<img src="__PUBLIC__/home/images/service-1.png" alt="image">
						<h4>SCALALE</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<img src="__PUBLIC__/home/images/service-2.png" alt="image">
						<h4>FLEXIBLE</h4>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
					</div><!-- /.col-lg-4 -->
					<div class="col-lg-4">
						<img src="__PUBLIC__/home/images/service-3.png" alt="image">
						<h4>USABLE</h4>
						<p>Sed ut perspiciatisSed ut perspiciatis unde omnis iste natus error sit voluptatemSed ut perspiciatis unde omnis iste natus error sit voluptatem unde omnis iste natus error sit voluptatem</p>
					</div><!-- /.col-lg-4 -->
				</div><!-- /.row -->
				<div class="tab-menu" style="text-align: center;">
					<a class="btn btn-lg btn-success" href="javascript:;" role="button">technical white  paper</a>
				</div>
			</div>

			<!-- 视频 -->
			<div class="row featurette featurette-content">
				<div class="col-md-6 col-md-push-6 movie-info">
					<h4 class="featurette-heading">HOW IT WORKS</h4>
					<h5>GET WELL SOON</h5>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. AeneanLorem ipsum dolor sit amet, consectetur adipiscing elit. AeneanLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</p>
					<div class="btn-menu" style="bottom: 0;">
						<a class="btn btn-lg btn-success" href="javascript:;" role="button">MORE MOVIE</a>
					</div>
				</div>
				<div class="col-md-6 col-md-pull-6 movie-box">
					<img src="__PUBLIC__/home/images/movie.png" alt="">
					<div class="mask"></div>
					<a href="javascript:;" class='btn btn-play'>播放</a>
				</div>
			</div>
			<!-- 图表 -->
			<div class="stage-chart">
				<div class="hd">
					<p>GET WELL SOON</p>
					<h3>MEDICALPRO SERVICES</h3>
				</div>
			</div>
			<div class="row featurette">
				<div class="col-md-6 col-md-push-6 movie-info">
					<h4 class="featurette-heading">HOW IT WORKS</h4>
					<h5>TOKEN PCC</h5>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. AeneanLorem ipsum dolor sit amet, consectetur adipiscing elit. AeneanLorem ipsum dolor sit amet, consectetur adipiscing elit. AeneanLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</p>
					<div class="btn-menu" style="bottom: 0;">
						<a class="btn btn-lg btn-success" href="javascript:;" role="button">GET TOKEN</a>
					</div>
				</div>
				<div class="col-md-6 col-md-pull-6 movie-box">
					<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    				<div id="myChartMain" style="width: 400px; height:400px; left: -60px;"></div>
					<!-- <canvas id='myChart' width='400' height='400'></canvas> -->
				</div>
			</div>

			<!-- 大事记 -->



			<!-- 大事记 -->
			<div class="stage stage-time">
				<h3>ROAD MAP</h3>
				<div class="events-wrap">
					<ul class="events">
						<li>
							<div class="circle"></div>
							<div class="event-info">
								<div class="box">
									<div class="time">Q1 2016</div>
									<div class="info">Emergence of idea,analysls of themarket and competitors</div>
								</div>
							</div>
						</li>
						<li>
							<div class="circle"></div>
							<div class="event-info">
								<div class="box">
									<div class="time">Q2 2016</div>
									<div class="info">Emergence of idea,analysls of themarket and competitors</div>
								</div>
							</div>
						</li>
						<li>
							<div class="circle"></div>
							<div class="event-info">
								<div class="box">
									<div class="time">Q3 2016</div>
									<div class="info">Emergence of idea,analysls of themarket and competitors</div>
								</div>
							</div>
						</li>
						<li>
							<div class="circle"></div>
							<div class="event-info">
								<div class="box">
									<div class="time">Q4 2016</div>
									<div class="info">Emergence of idea,analysls of themarket and competitors</div>
								</div>
							</div>
						</li>
						<li>
							<div class="circle"></div>
							<div class="event-info">
								<div class="box">
									<div class="time">Q5 2016</div>
									<div class="info">Emergence of idea,analysls of themarket and competitors</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>



			<!-- 品牌 -->
			<div class="stage stage-brand">
				<h3>MEDICALPRO SERVICES</h3>
				<div class="service-item">
					<img src="__PUBLIC__/home/images/sm-partner.jpg" alt="">
				</div>
			</div>

			<!-- 加入 -->
			<div class="stage stage-join">
				<div>
					<h3>JOIN US</h3>
					<div class="join-item">
						<ul>
							<li>
								<a href="javascript:;">
									<img src="__PUBLIC__/home/images/tw.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<img src="__PUBLIC__/home/images/bt.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<img src="__PUBLIC__/home/images/tw.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<img src="__PUBLIC__/home/images/bt.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<img src="__PUBLIC__/home/images/tw.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<img src="__PUBLIC__/home/images/bt.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<img src="__PUBLIC__/home/images/tw.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<img src="__PUBLIC__/home/images/bt.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;" class='current'>
									<img src="__PUBLIC__/home/images/tw.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;" class='current'>
									<img src="__PUBLIC__/home/images/bt.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;" class='current'>
									<img src="__PUBLIC__/home/images/tw.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;" class='current'>
									<img src="__PUBLIC__/home/images/bt.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;" class='current'>
									<img src="__PUBLIC__/home/images/tw.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;" class='current'>
									<img src="__PUBLIC__/home/images/bt.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;" class='current'>
									<img src="__PUBLIC__/home/images/tw.png" alt="">
								</a>
							</li>
							<li>
								<a href="javascript:;" class='current'>
									<img src="__PUBLIC__/home/images/bt.png" alt="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- 加入表单 -->
			<div class="stage stage-form">
				<div class="row  form-wrap">
					<div class="col-md-4 label"><span>Join Our Mailing List</span></div>
					<div class="col-md-8 form">
						<input type="email" name='email' placeholder='Plese Enter your email address here'>
						<button>JOIN</button></div>
				</div>
			</div>
		</div>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://mcop.us17.list-manage.com/subscribe/post?u=f86df245186ab8d19ed109199&amp;id=2547426949" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h3>Subscribe to our mailing list</h3>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f86df245186ab8d19ed109199_2547426949" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<script type='text/javascript' src='__PUBLIC__/echarts/echarts.common.min.js'></script>
<script type='text/javascript' src='__PUBLIC__/echarts/pie-chart.js'></script>
<!--End mc_embed_signup-->