<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/global.css">
<style type="text/css">
    .fly-case-list li{width: 45%;}
    .fly-case-img img{width: 100%;}
</style>
<ul class="fly-case-list">
    <li data-id="1231">
        <a class="fly-case-img" href="javascript:;" target="_blank">
            <img src="__PUBLIC__/images/whitepaper.png" alt="">
           
        </a>
        <h2><a href="{:U('Index/downloadPDF',array('pdf_id'=>1231))}" target="_blank">技术白皮书</a></h2>
        <p class="fly-case-desc">
            Fly 社区是 layui 的官方社区，全站的前端层面基于 Layui 风格编写，轻量而简洁，并且模版已经开源，可用于极简社区模板。
        </p>
        <div class="fly-case-info">
        <a href="javascript:;" class="fly-case-user" target="_blank"></a>
        <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;"></span> </p>
        <p></p>
        <a href="{:U('Index/downloadPDF',array('pdf_id'=>1231))}"><button data="1231" class="layui-btn layui-btn-primary fly-case-active downloadpdf" data-type="praise">Download</button></a>
       
        </div>
    </li>

    <li data-id="1232">
        <a class="fly-case-img" href="javascript:;" target="_blank">
            <img src="__PUBLIC__/images/whitepaper.png" alt="">
           
        </a>
        <h2><a href="{:U('Index/downloadPDF',array('pdf_id'=>1232))}" target="_blank">经济白皮书</a></h2>
        <p class="fly-case-desc">
            Fly 社区是 layui 的官方社区，全站的前端层面基于 Layui 风格编写，轻量而简洁，并且模版已经开源，可用于极简社区模板。
        </p>
        <div class="fly-case-info">
        <a href="javascript:;" class="fly-case-user" target="_blank"></a>
        <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;"></span> </p>
        <p></p>
        <a href="{:U('Index/downloadPDF',array('pdf_id'=>1232))}"><button data="1231" class="layui-btn layui-btn-primary fly-case-active downloadpdf" data-type="praise">Download</button></a>
       
        </div>
    </li>

    <li data-id="1233">
        <a class="fly-case-img" href="javascript:;" target="_blank">
            <img src="__PUBLIC__/images/whitepaper.png" alt="">
           
        </a>
        <h2><a href="{:U('Index/downloadPDF',array('pdf_id'=>1233))}" target="_blank">开发白皮书</a></h2>
        <p class="fly-case-desc">
            Fly 社区是 layui 的官方社区，全站的前端层面基于 Layui 风格编写，轻量而简洁，并且模版已经开源，可用于极简社区模板。
        </p>
        <div class="fly-case-info">
        <a href="javascript:;" class="fly-case-user" target="_blank"></a>
        <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;"></span> </p>
        <p></p>
        <a href="{:U('Index/downloadPDF',array('pdf_id'=>1233))}"><button data="1231" class="layui-btn layui-btn-primary fly-case-active downloadpdf" data-type="praise">Download</button></a>
       
        </div>
    </li>

    <li data-id="1234">
        <a class="fly-case-img" href="javascript:;" target="_blank">
            <img src="__PUBLIC__/images/whitepaper.png" alt="">
           
        </a>
        <h2><a href="{:U('Index/downloadPDF',array('pdf_id'=>1234))}" target="_blank">白皮书</a></h2>
        <p class="fly-case-desc">
            Fly 社区是 layui 的官方社区，全站的前端层面基于 Layui 风格编写，轻量而简洁，并且模版已经开源，可用于极简社区模板。
        </p>
        <div class="fly-case-info">
        <a href="javascript:;" class="fly-case-user" target="_blank"></a>
        <p class="layui-elip" style="font-size: 12px;"><span style="color: #666;"></span> </p>
        <p></p>
        <a href="{:U('Index/downloadPDF',array('pdf_id'=>1234))}"><button data="1231" class="layui-btn layui-btn-primary fly-case-active downloadpdf" data-type="praise">Download</button></a>
       
        </div>
    </li>


    
</ul>

