<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap-style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/global.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/whitepaper.css">
<div class="whitepaper-page content-style">
    <ul class="fly-case-list" style="margin-bottom:50px;">
        <volist name="pdfs" id="vo">
        <li data-id="{$vo['id0']}">
            <a class="fly-case-title" href="{:U('Index/downloadPDF',array('name'=>$vo['title'],'pdf_id'=>$vo['id']))}" target="_blank">{$vo.title}</a>
            <p class="fly-case-desc">
              
            </p>
        </li>
        </volist>
    </ul>
    
</div>