<include file="Public/header" />

<section class="rt_wrap content mCustomScrollbar">
<div class="rt_content">
	<div class="page_title">
	<h2 class="fl">语言列表</h2>
	<a href="user_detail.html" class="fr top_rt_btn add_icon">添加新语言</a>
	</div>
	
	<table class="table">
		<tr>
			<th>ID</th>
			<th>语言图像</th>
			<th>语言名称</th>
			<th>语言代码</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		<volist name='lang' id="vo" >
		<tr>
			<td class="center"></td>
			<td class="center"><img src="" width="50" height="50"/></td>
			<td></td>
			<td class="center"></td>
			<td class="center"></td>
			<td class="center">
				<a href="user_detail.html" title="编辑" class="link_icon">&#101;</a>
				<a href="#" title="删除" class="link_icon">&#100;</a>
			</td>
		</tr>
		</volist>
	</table>
	
</div>
</section>