<div class="layui-container fly-marginTop">
  <div class="fly-panel">
    <div class="fly-none">
      <h2>Thank you for registering</h2>
      <p>Check your inbox to activate your account</p>
      <p>We have send an email to {$user['email']} .Please click on the 'Activate Account' </p>
        <p>button in the email to access your account.</p>


        <p>Did not receive the email? </p>

        <br>
        <button class="layui-btn layui-btn-normal" id="resendemail">Re-send Activate Email</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/customer/resendemail.js"></script>