<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend>募资进度</legend>
</fieldset>

<div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
  	<div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
</div>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend>Token 计算器</legend>
</fieldset>
<blockquote class="layui-elem-quote layui-quote-nm">
	<div class="layui-form-item">
	    <div class="layui-inline">
	        <label class="layui-form-label">You send </label>
	        <div class="layui-input-inline">
	            <input id="yousend" type="number" name="eth"  autocomplete="off" class="layui-input">
	        </div>
	    </div>
	    <div class="layui-inline">
	        <label class="layui-form-label">You receive</label>
	        <div class="layui-input-inline">
	        	<input type="number" id="youreceive" name="ngc"  autocomplete="off" class="layui-input">
	      	</div>
	      	<div class="layui-form-mid layui-word-aux">30% Pre-sale Bonus included</div>
	    </div>

    </div>
    <div class="layui-row">
	  	<div class="layui-col-md4">
	    
	  	</div>
	  	<div class="layui-col-md4 layui-col-md-offset4">
	   	1 eth =1000 ngc
	  	</div>
	</div>
   
</blockquote>

<blockquote class="layui-elem-quote layui-quote-nm">
	<div class="layui-form-item">
		<form class="layui-form" action="" method="POST">
		<label class="layui-form-label">以太坊钱包</label>
		<div class="layui-input-inline" style="width: 350px;">
			<input type="text" value="{$user['ethereum_address']}"  name="ethereum_address" required  lay-verify="required"  class="layui-input">
		</div>
		<div class="layui-word-aux" style="padding: 0;">
			<button class="layui-btn" lay-filter="updateEth" type="button" lay-submit="" >修改</button>
		</div>
		</form>
	</div>
	<div class="layui-row">
	  	<div class="layui-col-md4">
	    
	  	</div>
	  	<div class="layui-col-md4 layui-col-md-offset4">
	   	<a href="">Learn More</a>
	  	</div>
	</div>

</blockquote>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  	<legend>募集资金的以太坊地址</legend>
</fieldset>
<div class="avatar-add" style="width: 100%;">
	
	
	<img src="__PUBLIC__/images/qrcode.png" style="border-radius: 0;">
	
	
</div>

<script>
layui.use(['element','form'], function(){
  	var $ = layui.jquery,
	  	form =layui.form,
	  	layer= layui.layer,
	  	element = layui.element; 
  
  //触发事件
  	var active = {
   		loading: function(){
		    var n = 0, timer = setInterval(function(){
		    n = n + Math.random()*10|0;  
		    if(n>100){
		        n = 100;
		        clearInterval(timer);
		         
		    }
		    element.progress('demo', n+'%');
		    }, 300+Math.random()*1000);
			      
			    
		   }
		};

  	form.on('submit(updateEth)', function(data){
       
       	$.ajax({
            url: ajaxUrl+'/updateEth',
            type: 'POST',
            dataType: 'json',
            data: data.field,
            success:function(response){
                if (response.code=='success') {
                    layer.msg(response.message);
                }else{
                    layer.msg(response.message);
                }
            }

        })
        
        return false;

    });
 	$(function(){
  		active['loading'].call();

  		$('#yousend').keyup(function(event) {
  			var sendval=$(this).val();
  			var receiveval =sendval*1000;
  			$('#youreceive').val(receiveval);
  		});

  		$('#youreceive').keyup(function(event) {
  			var receiveval=$(this).val();
  			var sendval =receiveval/1000;
  			$('#yousend').val(sendval);
  		});

  	})
});
</script>
