<div class="content-style">
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
	<legend>募资进度</legend>
	</fieldset>

	<div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
		<div class="layui-progress-bar" lay-percent="0%"></div>
	</div>

	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
	<legend>Token 计算器</legend>
	</fieldset>
	<div class="token-list">
		<div class="layui-row layui-form-item">
				<div class="layui-col-md4">
					<div class="token-list-title">You send </div>
					<div class="layui-input-inline">
						<input id="yousend" type="number" name="eth"  autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="token-list-title">You send </div>
					<div class="layui-input-inline">
						<input id="yousend" type="number" name="eth"  autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-col-md4" style="color:#3ab775;margin-top: 35px;">
						<span>30% Pre-sale Bonus included</span>
				</div>
		</div>

		<div class="layui-row">
			<div class="layui-col-md4" style="color:#3ab775;">1 eth =1000 ngc</div>
		</div>
	</div>

	<div class="token-list">
		<div class="layui-form-item">
			<form class="layui-form" action="" method="POST">
			<div class="token-list-title">以太坊钱包</div>
			<div class="layui-input-inline" style="width: 350px;">
				<input type="text" value="{$user['ethereum_address']}"  name="ethereum_address" required  lay-verify="required"  class="layui-input">
			</div>
			<div class="layui-word-aux" >
				<button class="layui-btn" lay-filter="updateEth" type="button" lay-submit="" >修改</button>
				<a href="" style="color:#3ab775;">Learn More</a>
			</div>
			</form>
		</div>
	</div>

	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
		<legend>募集资金的以太坊地址</legend>
	</fieldset>
	<div style="text-align:center; margin-top:50px;">
		<img src="__PUBLIC__/images/qrcode.png">
	</div>
</div>

<script>
layui.use(['element','form'], function(){
  	var $ = layui.jquery,
	  	form =layui.form,
	  	layer= layui.layer,
	  	element = layui.element; 
  
  //触发事件
  	var active = {
   		loading: function(){
		    var n = 0, timer = setInterval(function(){
		    n = n + Math.random()*10|0;  
		    if(n>100){
		        n = 100;
		        clearInterval(timer);
		         
		    }
		    element.progress('demo', n+'%');
		    }, 300+Math.random()*1000);
			      
			    
		   }
		};

  	form.on('submit(updateEth)', function(data){
       
       	$.ajax({
            url: ajaxUrl+'/updateEth',
            type: 'POST',
            dataType: 'json',
            data: data.field,
            success:function(response){
                if (response.code=='success') {
                    layer.msg(response.message);
                }else{
                    layer.msg(response.message);
                }
            }

        })
        
        return false;

    });
 	$(function(){
  		active['loading'].call();

  		$('#yousend').keyup(function(event) {
  			var sendval=$(this).val();
  			var receiveval =sendval*1000;
  			$('#youreceive').val(receiveval);
  		});

  		$('#youreceive').keyup(function(event) {
  			var receiveval=$(this).val();
  			var sendval =receiveval/1000;
  			$('#yousend').val(sendval);
  		});

  	})
});
</script>
<link rel="stylesheet" href="__PUBLIC__/home/css/isSale.css">
