/* 全局 */
html,body{overflow-x: hidden;}

/* 内容格式 */
.content-style{
  overflow-y: auto; 
  height: 100%;
  margin-top: -50px;
  margin-bottom: -50px;
}

.login-page {
    color: #333;
    padding: 120px 0;
    background: #f8f8f8;
}
.login-wrap{
    margin: 0 auto;
    padding: 30px 60px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 10px;
    background: #fff;
}
.login-title{
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.input-wrap{
    padding: 10px 5px;
    margin-bottom: 25px;
    line-height: 16px;
    border: 1px solid #3ab775;
    border-radius: 30px;
    background: #f8f8f8;
}
.input-content{
    width: 340px;
    padding: 10px;
    border: 0;
    background: #f8f8f8;
}
.layui-form-title {
    width: 170px;
    float: left;
    text-align: right;
    line-height: 38px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}
.layui-form-pane .layui-input-inline{
    margin-left: 0px;
}
.layui-form-pane .layui-input-inline input{
    border: none;
}
.btn-wrap{
    width: 300px;
    height: 45px;
    border-radius: 30px;
    margin-top: 25px;
}
