.login-page{
    height: 100%;
    color: #333;
    padding: 120px 0;
    background: #f8f8f8;
}
.login-wrap{
    margin: 0 auto;
    padding: 30px 60px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 10px;
    background: #fff;
}
.login-title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.input-wrap{
    padding: 10px 5px;
    margin-bottom: 25px;
    line-height: 16px;
    border: 1px solid #3ab775;
    border-radius: 30px;
    background: #f8f8f8;
}
.input-title{
    padding: 10px 50px 10px 25px;
    border-right: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    display: inline-block;
}
.input-wrap input{
    background: #f8f8f8;
}
.input-content{
    width: 340px;
    padding: 10px;
    border: 0;
}
.input-check{
    width: 300px;
    padding: 12px 30px;
    margin-bottom: 25px;
    line-height: 16px;
    border: 1px solid #a0a0a0;
    border-radius: 30px;
    background: #f8f8f8;
}
.content-right{
    text-align: right
}
.content-center{
    text-align: center;
}
.content-center button{
    margin: 100px 0;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-radius: 30px;
    background: #3ab775;
}